@using Newtonsoft.Json
@using UITemplate.Model.DTO.UserRole
@using UITemplate.UI.Areas.Admin.Models
@model HomeViewModel

@inject IHttpContextAccessor Accessor

@{
	var sessionRoles = JsonConvert.DeserializeObject<List<UserRoleDTO>>(Accessor.HttpContext.Session.GetString("Roles"));
	var roleNames = string.Join(",", sessionRoles.Select(x => x.RoleName));
}

@{
	ViewData["Title"] = "Home";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container text-center">
	<div class="row">
		<div class="col">
			<div class="container text-center">
				<div class="row">
					@if (@roleNames.Contains("Admin"))
					{
							int users = Model.Users.Count();
							int roles = Model.Roles.Count();
						
						<div class="col">
							<div class="col-lg-12 col-6">
								<!-- small box -->
								<div class="small-box bg-success" style="min-width:245px;">
									<div class="inner">

										<h3>@users</h3>
										<p>Kullanıcı Sayısı</p>

									</div>
									<div class="icon">
										<i class="fa-solid fa-check"></i>
									</div>
									<a href="/admin/users" class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="col-lg-12 col-6">
								<!-- small box -->
								<div class="small-box bg-lime" style="min-width:245px;">
									<div class="inner">

										<h3>@roles</h3>
										<p>Rol Sayısı</p>

									</div>
									<div class="icon">
										<i class="fa-solid fa-database"></i>
									</div>
									<a href="/admin/roles" class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
								</div>
							</div>
						</div>
					}

				</div>
			</div>



		</div>
	</div>
</div>

