@using Newtonsoft.Json
@using UITemplate.Model.DTO.UserRole
@using UITemplate.UI.Areas.Admin.Models
@model HomeViewModel

@inject IHttpContextAccessor Accessor

@{
	var roleNames = JsonConvert.DeserializeObject<List<UserRoleDTO>>(Accessor.HttpContext.Session.GetString("Roles"));
}

@{
	ViewData["Title"] = "Home";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container text-center">
	<div class="row">
		<div class="col">
			<div class="container text-center">
				<div class="row">

					<div class="col">
						<div class="col-lg-12 col-6">
							<!-- small box -->
							<div class="small-box bg-success" style="min-width:245px;">
								<div class="inner">
									<h3>2</h3>

									<p>Onaylanan İstekler</p>
								</div>
								<div class="icon">
									<i class="fa-solid fa-check"></i>
								</div>
								<a href="/Requests" class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>

						<div class="col-lg-12 col-6">
							<!-- small box -->
							<div class="small-box bg-orange" style="min-width:245px;">
								<div class="inner">
									<h3>5</h3>

									<p>Bekleyen İstekler</p>
								</div>
								<div class="icon">
									<i class="fa-regular fa-hand-point-up"></i>
								</div>
								<a href="/Requests  " class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col">

						<div class="col-lg-12 col-6">

							<!-- small box -->
							<div class="small-box bg-info" style="min-width:245px;">
								<div class="inner">
									<h3>5</h3>
									<p>Ürün Çeşit Sayısı</p>
								</div>
								<div class="icon">
									<i class="fa-solid fa-basket-shopping"></i>
								</div>
								<a href="/Products" class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>
						<div class="col-lg-12 col-6">
							<!-- small box -->
							<div class="small-box bg-lime" style="min-width:245px;">
								<div class="inner">
									<h3>9</h3>
									<p>Stoktaki Toplam Ürün Sayısı</p>
								</div>
								<div class="icon">
									<i class="fa-solid fa-database"></i>
								</div>
								<a href="/Stocks" class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
							</div>
						</div>


					</div>


				</div>
			</div>



		</div>
	</div>
</div>

